body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./img/b5fd3fbe984103e08b9482471484394b.gif');
    background-size: cover;
}
