 
 /*background color*/
 body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color:transparent;
            /*esto es el login mismo*/
        }
        .login-container {
           background-color: transparent;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px transparent;
            width: 300px;
            /*esto es para el coso que dice login xd*/
        }
        .login-container h2 {
            margin-bottom: 20px;
            text-align: center;
        }
        .login-container input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: transparent;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .login-container button:hover {
            background-color: transparent;
        }
        